* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
.FontT{
    font-family: 'Montserrat', sans-serif;
}
.FontF{
    font-family: 'Space Grotesk', sans-serif;
    text-shadow: 3px 4px #334155;
}
.Box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll{
    display: flex;
    justify-content: center;
    align-items: end;
}
.title{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 58px;
}
.copy{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}
.center{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}
.btnContact{
    position: absolute;
    bottom: 20%;
    left: 47%;
    transform: translateX(-47%);
}
.fontWord{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}
.btnPortfolioMobile{
    position: absolute;
    bottom: 20%;
    left: 70%;
    transform: translateX(-70%);
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
